

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html,body{
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

*, *::after, *::before{
  box-sizing: border-box;
}

button,
textarea,
select,
input {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
}

textarea {
  resize: none;
}

body{
  font-size: 1.6rem;
  font-weight: normal;
  height: 100vh;
}
